.container{
    margin-inline: 10%;
}
div img{
    width: 100%;
}
.float-left{
    float:left
}
.float-right{
    float:right
}
.clear{
    clear:both
}
body{
    font-family: sans-serif;
    margin:0;
}

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}
.bold-font{
    font-weight: bold;
}
.large-font{
    font-size: larger;
}

