.fa-video{
    color:#00B8DB;
    padding-right: 10px;
}
.fa-camera{
    color:#00BBA7;
    padding-right: 10px;
}
.fa-battery-full{
    color:#00C951;
    padding-right: 10px;
}
.fa-satellite-dish{
    color:orange;
    padding-right: 10px;
}
.fa-gauge-high{
    color:red;
    padding-right: 10px;
}
.fa-shield-halved{
    color:#00A6F4;
    padding-right: 10px;
}
.fa-scale-balanced{
    color:#615FFF;
    padding-right: 10px;
}
.fa-cloud-rain{
    color:#2B7FFF;
    padding-right: 10px;
}
.fa-dollar-sign{
    color:rgb(255, 204, 0);
    padding-right: 10px;
}

.yellow-star{
    color:#FDC700;
}
.grey-star{
    color:grey;
}






