

/*===========================================================================*/

.navbar{
    background-color: #F5F3FF;
    border: 1px solid #DDD6FF;
    position: fixed;
    width:100%;
    z-index: 9999;
}
.helicopter{
    margin-block:10px;
    background-color: #8E51FF;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.helicopter i{
    color:white;
}
.helicopter-header{
    margin-left:5px;
}
.navbar-links{
    font-size: medium;
    position: relative;
    width: fit-content;
}
.navbar-links ul{
    list-style-type: none;
}
.navbar-links a{
    text-decoration:none;
    color: black;
    transition: color 0.3s;
}
.navbar-links a:hover{
    color: blue;
}

.navbar-home a {
  position: relative;
  text-decoration: none;
}

.navbar-home a::after{
    content:"";
    width:0;
    height:2px;
    background-color: blue;
    position: absolute;
    left:0px;  
    top:22px;
    transition: width 0.3s;
}
.navbar-home a:hover::after{
     width:100%;
}

.navbar-links li{
    margin-left: 20px;
    margin-top: 5px;
}
.font-color-red{
    color:red;
}


/*===========================================================================*/

.home{
   padding-top: 10%;
}

.hero-image{
    width:43%;
    border:2px solid #E1E3E8;
    border-radius: 20px;
    padding:20px;
    position: relative;
}
.hero-image img{
    width:100%;
    border-radius: 15px;
    display: block;
}

.hero-image p{
    position: absolute;
    top:30px;
    left:50px;
    background-color: #8E51FF;
    color:white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.product-information{
    width:50%;
}
.upper-features p{
    padding: 5px 10px;
    margin:5px;
    background-color: #A684FF;
    color:white;
    border-radius: 25px;
    font-weight: bold;
    font-size: small;
}

.upper-info h1{
    font-size: 300%;
}
.upper-info span{
    color:#8E51FF;
}

.upper-paragraph{
    font-size: 130%;
}

.middle-price{
    display: flex;
    align-items: center;
}
.middle-price p{
    margin-right: 25px;
    position: relative;
}

.price-one{
    font-size: 230%;
    font-weight: bolder;
    margin:0;
}
.price-two{
    font-size: 150%;
    text-decoration: line-through;
}

.price-three{
    color:rgb(231, 10, 10);
    background-color: #FFE2E2;
    border-radius: 15px;
    font-weight: bold;
    font-size: 90%;
    padding: 5px 10px;   
}

.add-to-cart i{
    color:white;
}

.add-to-cart {
    color:white;
    width:500px;
    padding-bottom: 20px;
}

.add-to-cart button{
    color:white;
    background-color: #8E51FF;
    border-radius: 30px;
    padding: 20px 40px;
    width: 120%;
    border:0;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}
.add-to-cart button:hover{
    transform: scale(103%);
}


.add-to-wishlist {
    color:white;
    width:500px;
}

.add-to-wishlist button{
    background-color: white;
    border-radius: 30px;
    padding: 20px 40px;
    width: 120%;
    border:2px solid #d2d4d8;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}
.add-to-wishlist button:hover{
    transform: scale(103%);
}

/*==================================================================**/

.specifications{
    background-color: #F7F5FF;
    margin-top: 10%;
    padding-block: 5%;
}

.specifications-header{
    text-align: center;
    padding-bottom: 5%;
}
.specifications-header h2{
    font-size: 35px;
}
.specifications-header h2 span{
    color:#8E51FF;
}
.specifications-header p{
    font-size: 20px;
}

.specifications-table{
    border: 2px solid  #d8dbdf;
    border-radius: 15px;
    padding:30px 70px 30px 30px;
    background-color: white; 
}
.specifications-table table{
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    width:100%;
}

.specifications-table table td{
   padding: 30px 30px;
}

.specifications-table table thead, tr:not(:last-child) {
    padding: 30px 30px;
    border-bottom: 1px solid #d2d4d8;
}

.specifications-table thead h3{
    font-size: 20px;
}
.specifications-table thead span{
    font-size: 15px;
    color: rgb(126, 123, 123);
}


.thead-violet-border{
    background-color: #EDE9FE;
    border-radius: 15px 15px 0 0;
    color:#7008E7;
}
.thead-violet-border div span{
    color:#8E51FF;
    font-weight: lighter;
}

.tbody-violet-border{
    background-color: #EDE9FE;
}
.tbody-violet-border span{
    background-color: #8E51FF;
    padding: 5px 10px;
    border-radius: 15px;
    color:white;
}

.tfooter-violet-border{
    background-color: #EDE9FE;
    border-radius: 0 0 15px 15px;
}

.large-price{
    color:#7008E7;
    font-size: x-large;
}

.overall-rating{
    font-weight: bold;
}

.winner{
    margin-top:50px;
}
.winner-style{
    background-color: white;
    width:26%;
    margin:auto;
    padding: 20px 25px;
    border-radius: 15px;
    color:#00A63E
}

.fa-trophy{
    font-size: 150%;
    margin:auto;
    padding-top: 10px; 
    color:#00C951;
}

.winner-paragraph p{
    margin:0 0 5px 0;
    font-weight: bold;
    font-size: large;
}


/*====================================================================*/

.rating-reviews{
    padding-top: 5%;
}   
.rating-reviews-header{
    text-align: center;
    
}
.rating-reviews-header h2{
    font-size:230%;
    margin-block: 20px;
}
.rating-reviews-header p{
    font-size:120%;
}
.rating-reviews-header span{
    color:#8E51FF;
}

.review{
    margin-block: 70px;
}

.all-rating{
    border:1px solid #A684FF;
    border-radius: 15px;
    width:31%;
    position: sticky;
    top:30px;
}

.rating-header{
    text-align: center;
    margin-block: 30px;
}
.rating-header h2{
    font-size: 400%;
    margin-block: 5px;
}
.rating-header p{
    margin-block: 5px;
    font-size:medium;
}

.rating-precentage{
    padding-bottom: 30px;
    margin-inline:40px;
    border-bottom: 1px solid rgb(167, 163, 163);
}

.precentage-row{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: medium;
}
.precentage-row p{
    margin-block: 5px;
}
.precentage-row i{
    font-size: 8px;
}
.grey-precentage{
    width:200px;
    height: 12px;
    background-color: rgb(222, 222, 222);   
    border-radius: 15px;
}
.precentage-row-one{
    width:150px;
    height: 12px;
    background-color: #F0B100;   
    border-radius: 15px;   
}
.precentage-row-two{
    width:30px;
    height: 12px;
    background-color: #F0B100;   
    border-radius: 15px;   
}
.precentage-row-three{
    width:10px;
    height:12px;
    background-color: #F0B100;   
    border-radius: 15px;   
}
.precentage-row-four{
    width:5px;
    height:12px;
    background-color: #F0B100;   
    border-radius: 15px;   
}
.precentage-row-five{
    width:2px;
    height:12px;
    background-color: #F0B100;   
    border-radius: 15px;   
}

.rating-footer{
    text-align: center;
    width: 70%;
    margin: 30px auto;
}
.rating-footer h3{
    margin-block: 5px;
    font-size: 25px;
}
.rating-footer p{
    font-size: 14px;
    margin-block: 5px;
}   

.users-review-all-cards{
    width: 65%;
}


.user-card{
    border:1px solid #d2d4d8;
    padding:40px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.user-info{
    width:40%;
    display:flex
}
.user-image{
    width:25%;
}

.user-image img{
    width:90%;
    border-radius: 50px;
    border: 1px solid #8E51FF;
    margin-top: 5px;
}
.user-name{
    width:75%;
}
.user-name h4{
    margin: 0px;
}
.user-name p{
    font-size: medium;
    margin-block: 5px;
}
.user-stars{
    font-size: 12px;
    margin-top: 5px;
}

.user-date{
    font-size: 10px;
    text-align: right;
}

.user-date p{
    background-color: #EDE9FE;
    color:#7008E7;
    border-radius: 15px;
    padding: 3px 10px;
    font-weight: bold;
}
.user-card p{
    padding: 2px;
}

.more-reviews{
    margin: auto;
    text-align: center;
    padding: 30px;
}
.more-reviews button{
    background-color: #7F22FE;
    color: white;
    padding: 20px 35px;
    border-radius: 30px;
    border:0;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.2s;
}
.more-reviews button:hover{
    background-color: white;
    color: #7F22FE;
    border:2px solid #7F22FE; 
}



/*======================================================================================*/

.related-products{
    padding-block: 70px;
    background-color: #F7F5FF;
}

.related-products-header{
    text-align: center;
}
.related-products-header h2{
    font-size: 34px;
    margin:18px auto;   
}
.related-products-header h2 span{
    color: #7F22FE;; 
}
.related-products-header p{
    font-size: 20px; 
}

.all-products-carts{
    display: flex;
    margin-block: 70px;
    
}
.product-cart{
    background-color: white;
    border: 1px solid #d8dbdf;
    border-radius: 15px;
    margin-inline: 10px;
    padding: 25px 25px 0px 25px;
}

.product-image{   
    position: relative;
}
.product-image img{
    border-radius: 15px;
    height: 48%;
    transition: transform 0.3s;
}

.product-image img:hover{
    transform: scale(107%);
}

.product-image span{
    position: absolute;
    top:10px;
    left:10px;
    z-index: 3;
    border-radius: 15px;
    color:white;
    font-size: 14px;
}

.product-background-color1{
    background-color: #00BBA7;
    padding: 5px 5px;
}
.product-background-color2{
    background-color: #00C951;
    padding: 5px 5px;
}

.product-background-color3{
    background-color:#00B8DB;
    padding: 5px 10px;
}
.product-background-color4{
    background-color:#FF6900;
    padding: 5px 10px;
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price span{
    font-weight: bold;
    font-size: 25px;
    
}

.product-price button{
     background-color: #7F22FE;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    border:0;
    font-size: 15px;
    font-weight: bold;
}

.accessories{
    text-align: center;
}
.accessories button{
    background-color: white;
    color: #7F22FE;
    padding: 20px 35px;
    border:2px solid #7F22FE; 
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.accessories button:hover{
    background-color: #7F22FE;
    color: white;
}

/*========================================================================================*/

.footer{
    background-color: #101828;
}

.footer-lists{
    padding-block: 50px;
    display: flex;
    color:white;
    border-bottom: 1px solid rgba(205, 205, 205,0.1);
}
.footer-lists li{
    list-style: none;
    padding-block: 8px;
}
.footer-lists li span{ 
    color:#99A1AF;
    cursor: pointer;
    transition: color 0.3s
}
.footer-lists li span:hover{ 
    color:white;
}

.footer-lists ul{
    padding:0;
}
.footer-dji-section{
    width: 23%;
    margin-right: 40px;
}

.footer-dji-section p{
    font-size: 16px;
    padding-bottom: 10px;
    line-height:2;
}

.footer-dji-image{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}


.footer-dji-image span{
    font-weight: bold;
    font-size: 26px;
    padding-left: 5px;
}
.fa-facebook-f{
    background-color: #1E2939;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition:background-color 0.3s ;
    cursor: pointer;
    margin-right: 5px;
}
.fa-facebook-f:hover{
    background-color: #1877F2;   
}

.fa-twitter{
    background-color: #1E2939;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition:background-color 0.3s ;
    cursor: pointer;
    margin-right: 5px;
}
.fa-twitter:hover{
    background-color: #1877F2;   
}

.fa-instagram{
    background-color: #1E2939;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition:background-color 0.3s ;
    cursor: pointer;
    margin-right: 5px;
}
.fa-instagram:hover{
    background-color: #E4405F;   
}

.fa-youtube{
    background-color: #1E2939;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition:background-color 0.3s ;
    cursor: pointer;
}
.fa-youtube:hover{
    background-color: #f00;   
}


.product-section{
    width: 25%;
}
.support-section{
    width: 25%;
}
.company    -section{
    width: 25%;
}

.footer-end{
    padding-block: 30px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.pay-visa{
    width:20%;
    display:flex;
    align-items: center;
    gap:20px
}
.paypal{
 margin-right: 40px;
}
.paypal img{
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    width:120%;
}


.master-card img{
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    width:50%;
}

.visa img{
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    width:90%;
}